.forecast-section {
  width: 100%;
  min-height: 100dvh;
}

.forecast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.forecast-header h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #d4dce5;
  margin-top: 8rem;
  margin-left: 7rem;
}

.unit-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;

  width: 250px;
  height: 50px;
  padding: 0 1.5rem;
  margin-top: 7rem;
  margin-right: 7rem;

  background-color: #202b3c;
  color: #d4dce5;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-weight: 600;

  transition: background-color 0.3s, transform 0.2s;
}

.unit-toggle:hover {
  background-color: #2a3c56;
}

.toggle-option {
  width: 50%;
  text-align: center;
  z-index: 2;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.toggle-option.active {
  color: #d2d9e2;
}

.toggle-slider {
  position: absolute;
  left: 3px;
  width: 50%;
  height: 80%;
  background-color: #1a70f1;
  color: #d2d9e2;
  border-radius: 15px;
  transition: transform 0.5s ease;
}

.unit-toggle .toggle-option.active + .toggle-slider {
  transform: translateX(97%);
}

.unit-toggle[data-unit="imperial"] .toggle-slider {
  transform: translateX(50%);
}

.unit-toggle:hover .toggle-slider {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.forecast-grid {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.forecast-card {
  background: linear-gradient(to bottom, #1b2535, #2a3a57);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 270px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.forecast-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to bottom, #1e2a40, #374b6d);
}
.forecast-card img {
  width: 80px;
  height: 80px;
}

.forecast-card .date {
  font-weight: 600;
  text-transform: capitalize;
  color: #d2d9e2;
  margin-bottom: 0.5rem;
}

.forecast-card .temp {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.4rem 0;
  color: #1a70f1;
}

.forecast-card .desc {
  text-transform: capitalize;
  color: #d2d9e2;
  margin-bottom: 1rem;
}

.forecast-card .details {
  font-size: 0.9rem;
  color: #d2d9e2;
  line-height: 1.4;
  text-align: left;
}

.forecast-error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  text-align: center;
  padding: 0 1rem;
}

.forecast-error-img {
  width: 350px;
  opacity: 0.85;
  margin-bottom: 1rem;
  opacity: 0.6;
}

.forecast-error-text {
  color: #cc0000;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

/* === RESPONSIVIDADE === */

/* TABLET - até 1024px */
@media (max-width: 1024px) {
  .forecast-section {
    width: 100%;
    min-height: 95dvh;
  }

  .forecast-header {
    margin-bottom: 1rem;
  }

  .forecast-header h1 {
    font-size: 1.6rem;
  }

  .unit-toggle {
    margin-top: 7rem;
    margin-right: 2rem;
    width: 250px;
    height: 36px;
  }

  .toggle-slider {
    width: 50%;
  }

  .forecast-card {
    width: 240px;
    padding: 0.8rem;
  }

  .forecast-card .temp {
    font-size: 1.6rem;
  }
}

/* TELEMÓVEL - até 768px */
@media (max-width: 768px) {
  .forecast-section {
    width: 100%;
    min-height: 100dvh;
  }

  .forecast-header {
    flex-direction: column;
    align-items: center;
  }

  .forecast-header h1 {
    font-size: 1rem;
    margin-left: 0;
    text-align: center;
    margin-top: 7rem;
  }

  .unit-toggle {
    margin-right: 0;
    width: 230px;
    height: 36px;
    margin-top: 0rem;
  }

  .forecast-grid {
    padding-bottom: 4rem;
  }

  .toggle-slider {
    height: 32px;
    width: 50%;
  }

  .forecast-grid {
    gap: 2rem;
  }

  .forecast-card {
    width: 300px;
    padding: 0.6rem;
  }

  .forecast-card .temp {
    font-size: 1.4rem;
  }

  .forecast-card .details {
    font-size: 0.8rem;
  }
}
