.map-container {
  width: 100%;
  height: 90vh;
  padding: 8rem 3rem 3rem 3rem;
  box-sizing: border-box;
  border-radius: 1rem;
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

/* Tablets (largura até 1024px) */
@media (max-width: 1024px) {
  .map-container {
    padding: 8rem 2rem 2rem 2rem;
    border-radius: 0.8rem;
    height: 93vh;
  }

  .leaflet-container {
    border-radius: 0.8rem;
  }
}

/* Mobile (largura até 768px) */
@media (max-width: 768px) {
  .map-container {
    padding: 7rem 1.5rem 1.5rem 1.5rem;
    border-radius: 0.5rem;
    height: 90vh;
  }

  .leaflet-container {
    border-radius: 0.5rem;
  }
}
