html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  width: 100%;
  height: 90vh; /* ocupa 100% da altura da viewport */
  margin-top: 4rem;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}
